@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Registros de Covid</h1>
<h3>El siguiente formulario es para lelvar el registro de casos reportados de Covid por departamento y genero.</h3>
